.navlink {
    color: grey;
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
  }
  .navlink:hover {
    color: rgba(0, 22, 68, 0.933);
  }
  .user-name {
    color: orange;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
  }
  .login-menu-link {
    text-decoration: none;
    font-weight: bold;
  }
  .user-name{
      text-decoration: none;
  }
  .dp-img{
      border-radius: 50%;
  }